<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/main.css">
    <title>Booking Page</title>
</head>
<body>
<div class="container">
    <h1 class="heading-primary margin-bottom  margin-top">Booking Page</h1>
    <form >
        <p class="form_row"> {{userform.name.label}}</p> {{userform.name}}
        <p class="form_row"> {{userform.seat.label}}</p> {{userform.seat}}
        <p class="form_row"> {{userform.card_type.label}}</p> {{userform.card_type}}
        <p class="form_row"> {{userform. card_number.label}}</p> {{userform. card_number}}
        <p class="form_row"> {{userform.card_cvc.label}}</p> {{userform.card_cvc}}
        <p class="form_row"> {{userform.card_holder.label}}</p> {{userform.card_holder}}
        {{userform.button}}
    </form>
</div>




</body>
</html>