<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/main.css">
    <title>Booking Page</title>
</head>
<body>
<div class="container">
    <h1 class="heading-primary margin-bottom  margin-top">Booking Page</h1>
    <form>
        <p class="form_row">{{userform.name.label}} {{userform.name}}</p>
        <p class="form_row">{{userform.seat.label}} {{userform.seat}}</p>
        <p class="form_row"> {{userform.card_type.label}} {{userform.card_type}}</p>
        <p class="form_row">{{userform. card_number.label}} {{userform. card_number}}</p>
        <p class="form_row">{{userform.card_cvc.label}} {{userform.card_cvc}}</p>
        <p class="form_row">{{userform.card_holder.label}} {{userform.card_holder}}</p>
    </form>




</div>




</body>
</html>