<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/main.css">
    <title>Home Page</title>
</head>
<body>
<div class="home">
    <h1 class="heading-primary">Cinema Booking App</h1>
    <p class="heading-sub">This app is booking a cinema seat and charge your card</p>
    <a href={{url_for('booking_page')}} class="btn btn--white btn--animated">Booking Page</a>
</div>

</body>
</html>